.pagination-items {
    justify-content: center;
    margin: 30px 0;

    .page-item {
        margin: 0 10px;
    }

    .page-link {
        padding: 0;
        width: 58px;
        height: 58px;
        border: 1px solid #e2e2e2;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #969696;

        &.active {
            background-color: #e3b472;
            color: #fff;
        }
    }
}

@media screen and (max-width: 900px) {
    .pagination-items {
        .page-link {
            width: 40px;
            height: 40px;
        }
    }
}
