// Here you can put any class effect a color
// 

.brand-color {
    color: $brand-color !important;

    &::before {
        color: $brand-color !important;

    }
}



/////////////////////////
// Grey Color
/////////////////////////

.grey-color {
    color: #6F778D !important;

    &::before {
        color: #6F778D !important;

    }
}


/////////////////////////
// Black Color
/////////////////////////

.black-color {
    color: #23242E !important;

    &::before {
        color: #23242E !important;
    }
}

/////////////////////////
// Orange Color
/////////////////////////


.orange-color {
    color: #E97D0A !important;

    &::before {
        color: #E97D0A !important;
    }
}


/////////////////////////
// White Color
/////////////////////////
.white-color {
    color: #ffffff !important;

    &::before {
        color: #ffffff !important;
    }
}




/////////////////////////
// Invalid Color
/////////////////////////
.invalid-color {
    color: $invalid-color !important;

    &::before {
        color: $invalid-color !important;
    }
}

/////////////////////////
// valid Color
/////////////////////////
.valid-color {
    color: $valid-color !important;

    &::before {
        color: $valid-color !important;
    }
}

// /////////////////////////////////// BackGrounds Colors //////////////////////////////////////////



/////////////////////////
// brand Color gradient
/////////////////////////

.gr-brandColor {
    background: blue !important;
    color: $white !important;

   >  span[class^="icon"] {
        color: $white !important;

        &::before {
            color: $white !important;
        }
    }
}


/////////////////////////
// brand Color
/////////////////////////



.bg-brand {
    background: $brand-color !important;
    color: $white !important;

    > span {
        &::before {
            color: $white !important;
        }
    }
}



/////////////////////////
// White Color
/////////////////////////



.bg-white {
    background: #ffffff !important;
    color: $brand-color !important;

    span {
        &::before {
            color: $brand-color !important;
        }
    }
}