// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: droid;
    src: url("../fonts/DroidKufi-Regular.ttf");
}

@font-face {
    font-family: droid-b;
    src: url("../fonts/DroidKufi-Bold.ttf");
}
 
@font-face {
    font-family: Frutiger;
    src: url("../fonts/Frutiger-LT-Arabic-55-Roman");
}

@font-face {
    font-family: mont;
    src: url("../fonts/Montserrat-Medium.ttf");
}

